# frozen_string_literal: true

require "advent"
require "minitest/autorun"

require_relative "../day<%= day %>"

class Day<%= day %>Test < Advent::TestCase
  def setup
    @solution = Day<%= day %>.new
  end

  # def test_part1
  #   assert_equal 123, @solution.part1
  # end

  # def test_part2
  #   assert_equal 123, @solution.part2
  # end
end
